html {
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.parent {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.background {
    min-height: 90vh;
    max-width: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 8vh;
}

.introduction {
    grid-area: 2 / 2 / 4 / 5;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: black;
}

.home .introduction h1 {
    font-weight: 100;
    margin-top: 12%;
    text-align: center;
    font-size: 3rem;
}

/* .introduction h2 {
    margin-top: 3%;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
} */


nav {
    max-width: 100%;
    padding: 50px;
    height: 8vh;
    margin-bottom: 1px;
}

nav .site-nav {
    text-align: right;
    margin-right: 10%;
}


nav ul li {
    display: inline;
    padding: 0px 20px;
    text-align: right;
    margin-right: 0;
}

.site-nav a {
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.site-nav a:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    height: 8vh;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.social-icons {
    margin: 0 auto;
    text-align: center;
    display: inline;
}

.social-icons a {
    padding: 0px 20px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: lightgray;
}

.social-icons a:hover {
    color: black;
}

.copyright-tag {
    font-size: 8px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0px 0px 0px;
    color: lightgrey;
}

.bio-h1 {
    margin-top: 0;
    font-weight: 100;
    text-align: center;
    font-size: 3rem;
}

.intro-bio {
    margin: 20px auto;
    width: 70%;
    min-height: 20vh;
    text-align: center;
    line-height: 1.5;
}

.intro-bio p {
    padding: 5px;
    font-size: 1.2rem;
}

.point-icon {
    transform-origin: 0 0;
}

.long-bio {
    margin: 0 auto;
    max-width:90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    line-height: 1.5;

}

.long-bio h2 {
    max-width: 100%;
    font-weight: 100;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman';
}

.long-bio li {
    list-style: disc;
    padding: 5px;
    text-align: left;
}

.who {
    grid-column-start: 1;
    padding: 50px;
}


.what {
    grid-column-start: 2;
    justify-content: center;
    padding: 50px;

}

.why {
    grid-column-start: 3;
    justify-content: center;
    align-content: center;
    padding: 50px;

}


.contact-form {
    width: 70%;
    margin: 0 auto;
    /* padding: 20px 50px; */
}

.contact-h1 {
    margin-top: 0;
    font-weight: 100;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 10px;
}

.contact-p {
    text-align: center;
    padding-top: 20px;
    font-size: 1.2rem;
    padding: 5px;
}

input,
textarea,
label {
    /* width: 70%; */
    margin: 10px auto;
    text-align: center;
    display: block;
}

input,
textarea {
    width: 70%;
    font-size: 14px;
    padding: 7px;
    margin: 10px auto;
    opacity: 0.9;
}

label {
    padding-bottom: 10px;
    margin: 30px 0px 10px 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

#submit {
    display: block;
    text-align: center;
    margin: 10px auto;
    background: black;
    padding: 10px 50px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
}

#submit:hover {
    background: lightgray;
    color: black;
    transition-delay: 2000;
}

.success-h1,
.success-h2 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.success-h1 {
    font-size: 3rem;
    padding: 50px;
}

.success-h2 {
    font-size: 1.2rem;
    font-weight: 100;
}

@media screen and (max-width: 800px) {
    
    nav .site-nav {
        text-align: center;
        margin: 0;
    }
    
    nav li {
        margin: 0 auto;
        text-align: center;
    }


    .long-bio {
        display: block;
        max-width: 90%;
        margin:0 auto;
        padding-bottom: 20px;
    }

    .contact-form {
        padding-bottom: 20px;
    }

    .why,
    .what,
    .who {
        display: block;
        width: 100%;
        padding: 0;
    }

    .why li,
    .what li,
    .who li {
        text-align: center;
        list-style: none;
    }

    .home h1 {
        font-size: 0.8rem;
        margin: 10px;
        margin-top: 5%;
    }

    .success h1 {
        margin: 0 auto;
        padding-bottom: 20px;
        font-size: 2.5rem;
        text-align: center;

    }
}

